body{
    background-color:bisque
}
ul li a{
    text-decoration: none;
    color:blueviolet;
    
}
nav li{
    display:inline-block;

    font-size:x-large;
    margin-left: 50px;
}
 h2{
    text-align:center;
}
main h2{
    margin-top:200px;
}
footer{
    text-align:center;
    margin-top:300px
}